* {
    box-sizing: border-box;
}

body {
    background-color: #f8f6f69e !important;
}

.color-primary {
    color: #022537 !important;
}

.background-primary {
    background-color: #022537 !important;
}

/* X-Small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .section-contct-body {
        padding: 30% 0% 0% 21%;
    }

    .border-img {
        border-top-left-radius: var(--bs-border-radius-xl) !important;
        border-top-right-radius: var(--bs-border-radius-xl) !important;
    }

    .text-input {
        font-size: 80%;
    }
}

@media (min-width: 576px) {
    .section-contct-body {
        padding: 30% 0% 0% 21%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .section-contct-body {
        padding: 15% 0% 0% 12%;
    }

    .border-img {
        border-bottom-left-radius: var(--bs-border-radius-xl) !important;
        border-top-left-radius: var(--bs-border-radius-xl) !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .section-contct-body {
        padding: 10% 0% 0% 8%;
    }

    .border-img {
        border-bottom-left-radius: var(--bs-border-radius-xl) !important;
        border-top-left-radius: var(--bs-border-radius-xl) !important;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .section-contct-body {
        padding: 9% 0% 0% 7%;
    }

    .border-img {
        border-bottom-left-radius: var(--bs-border-radius-xl) !important;
        border-top-left-radius: var(--bs-border-radius-xl) !important;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .section-contct-body {
        padding: 7.9% 1% 0% 6.4%;
    }

    .border-img {
        border-bottom-left-radius: var(--bs-border-radius-xl) !important;
        border-top-left-radius: var(--bs-border-radius-xl) !important;
    }
}

.input-form-login i {
    position: absolute;
}

.input-form-login {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 19px 17px;
    min-width: 40px;
}

.input-field {
    width: 100%;
    padding: 10px;
}

[data-component="navbar"] .navbar-toggler {
    line-height: 2.6;
}

[data-component="navbar"] .navbar-toggler span {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    display: none;
}

[data-component="navbar"] .navbar-toggler[aria-expanded="true"] {
    color: #009fff;
}

[data-component="navbar"] .navbar-toggler[aria-expanded="true"] span {
    display: initial;
    color: #009fff;
}

[data-component="navbar"] .navbar-toggler[aria-expanded="true"] i {
    color: #009fff;
}

[data-component="navbar"] .navbar-collapse {
    background-color: #292a2c;
    margin-left: 75px;
}

[data-component="navbar"] .navbar-nav {
    height: 100vw;
}

[data-component="navbar"] .collapsing {
    -webkit-transition: height 0.3s ease;
    -o-transition: height 0.3s ease;
    transition: height 0.3s ease;
}

[data-component="navbar"] ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

[data-component="navbar"] .home {
    border-right: 1px solid #ababab;
}

[data-component="navbar"] .dropdown-toggle::after {
    display: none;
}

[data-component="navbar"] .dropdown-item {
    color: #292b2c;
    font-size: 0.75em;
}

[data-component="navbar"] .dropdown {
    position: relative;
}

[data-component="navbar"] .dropdown img {
    border-radius: 50%;
    height: 40px;
}

[data-component="navbar"] .list-group .lg {
    height: 500px;
    width: 270px;
    overflow: auto;
}

[data-component="navbar"] .list-group .list-group-item {
    border-radius: 0;
    letter-spacing: 0.5px;
}

[data-component="navbar"] .list-group h5 {
    font-size: 0.6875em;
    font-weight: 700;
    line-height: 2;
}

[data-component="navbar"] .list-group p {
    font-size: 0.5625em;
    font-weight: 400;
    line-height: 2;
}

[data-component="navbar"] .megamenu #menuOne,
[data-component="navbar"] .megamenu #menuTwo,
[data-component="navbar"] .megamenu #menuThree {
    position: absolute;
    width: 100%;
    z-index: 1;
}

[data-component="navbar"] .megamenu .megamenu-links {
    background-color: #eeeeee;
    height: 100vh;
    overflow: hidden;
}

[data-component="navbar"] .megamenu .btn {
    font-size: 0.875em;
    font-weight: 400;
    letter-spacing: 0.5px;
}

[data-component="navbar"] .megamenu .btn:hover {
    background-color: #292a2c;
    color: #fff;
}

[data-component="navbar"] .megamenu a[aria-expanded="true"] .fa-plus {
    display: none;
}

[data-component="navbar"] .megamenu a[aria-expanded="false"] .fa-minus {
    display: none;
}

[data-component="navbar"] .megamenu [aria-expanded="true"] {
    background-color: #292a2c;
    color: #fff;
}

[data-component="navbar"] .megamenu [aria-expanded="true"] i {
    color: #fff;
    font-size: 1.25em;
}

[data-component="navbar"] .megamenu [aria-expanded="false"] {
    background-color: #eee;
    color: #292a2c;
    border-radius: 0;
}

[data-component="navbar"] .megamenu [aria-expanded="false"] i {
    color: #009fff;
    font-size: 1.25em;
}

[data-component="navbar"] .megamenu .list-group {
    height: 100vw;
    background-color: #292a2c;
}

[data-component="navbar"] .megamenu .list-group-item {
    border-radius: 0;
    background-color: #292a2c;
    font-size: 0.75em;
    color: #fff;
}

[data-component="navbar"] .megamenu .list-group-item:hover {
    background-color: #009fff;
}

[data-component="sidebar"] .sidebar {
    position: fixed;
    z-index: 9999;
}

[data-component="sidebar"] .first-menu {
    position: fixed;
    height: -webkit-fill-available;
    width: 74px;
    top: 90px;
    overflow: hidden;
    transition: width 0.1s;
    z-index: 9;
}

[data-component="sidebar"] .first-menu span {
    font-size: 14px;
    white-space: nowrap;
    font-family: "Open Sans", sans-serif;
    opacity: 0;
    /* visibility: hidden; */
    display: none;
}

[data-component="sidebar"] .show span {
    opacity: 1;
    /* visibility: visible; */
    display: inline-block;
}

[data-component="sidebar"] .first-menu .list-group-item {
    border-radius: 0;
    color: #022537;
}

[data-component="sidebar"] .first-menu .list-group-item:hover {
    background-color: #022537;
    color: #ffffff;
}

[data-component="sidebar"] .show {
    width: 160px;
}

[data-component="sidebar"] .list-group-item {
    font-size: 14px;
}

[data-component="sidebar"] .list-group-item {
    /* background-color: transparent; */
    border: none;
    border-radius: 0;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0;
}

.table-dark {
    --bs-table-color: #fff;
    --bs-table-bg: #022537 !important;
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
.ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
    border-top-left-radius: var(--bs-border-radius-xl) !important;
    border-top-right-radius: var(--bs-border-radius-xl) !important;
    border-bottom: 0 !important;
}

.ck.ck-toolbar>.ck-toolbar__items {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: flex-end;
}

.ck.ck-editor__main>.ck-editor__editable {
    border-color: var(--ck-color-base-border);
    border-top: 0 !important;
    border-bottom-right-radius: var(--bs-border-radius-xl) !important;
    border-bottom-left-radius: var(--bs-border-radius-xl) !important;
    padding-right: 3rem !important;
    padding-left: 3rem !important;
    height: 9rem;
}

.ck.ck-editor__editable_inline .ck-placeholder {
    margin-top: 0.5rem !important;
}

.ck .ck-powered-by {
    display: none;
}

.ck.ck-reset,
.ck.ck-reset_all {
    box-shadow: var(--bs-box-shadow);
    border-radius: var(--bs-border-radius-xl);
}

.fa-lg {
    line-height: 1 !important;
}

.fade.show {
    display: flex !important;
    justify-content: flex-end;
}

.form-check-input:checked[type="checkbox"] {
    background-image: url(../img/check-mark.png) !important;
    background-size: auto;
}

.form-check-input:checked {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}

.list-group a:hover {
    color: #fff;
}

.image-hover-text-container {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    transition: all 0.2s linear;
}

.image-hover-image {
    display: block;
}

/* Make the image round */
.image-hover-image img {
    border-radius: 0%;
    width: 400px;
}

.image-hover-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    opacity: 0;
    cursor: default;
    transition: opacity 0.2s linear;
}

.image-hover-text:hover {
    opacity: 1;
}

.image-hover-text-bubble {
    position: relative;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.436);
    border-radius: 0%;
    margin: 0 auto;
    padding: 29% 0px;
    overflow: hidden;
    font-size: 17px;
    text-align: center;
    word-wrap: break-word;
}

.card-hover-text-container {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    transition: all 0.2s linear;
}

.card-hover-image {
    display: block;
}

/* Make the card round */
.card-hover-image img{
    border-radius: 0%;
    width: 400px;
}

.card-hover-text {
    position: absolute;
    top: 0;
    width: 100%;

    margin: 0 auto;
    opacity: 0;
    cursor: default;
    transition: opacity 0.2s linear;
}

.card-hover-text:hover,
.btn-check:checked + .image-hover-text-container .card-hover-text {
    opacity: 1;
}

.card-hover-text-bubble {
    position: relative;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 100%;
    height: 100%;
    text-align: center;
    background: #15355bba;
    border-radius: 0%;
    margin: 0 auto;
    overflow: hidden;
    font-size: 17px;
    text-align: center;
    word-wrap: break-word;
}

.active_nav {
    color: #C2203D !important;
}

.btn-color-2 {
    color: #5E1042 !important;
}

.btn-color-1 {
    color: #C2203D !important;
}

.btn-bg-color-2 {
    background-color: #5E1042 !important;
}

.btn-bg-color-1 {
    background-color: #C2203D !important;
}

.bg-2 {
    background-color: #5E1042 !important;
}

.bg-1 {
    background-color: #C2203D !important;
}
.avatar_icon{
    padding: 9px 13px !important;
    background: #5e1042 !important;
    color: white !important;
    border-radius: 50% !important;
    margin: 0.2rem !important;
}

